*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%; 
    height: 100%;
    background-color: #fff;
    
}
#nav{
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    color: #fff;
}
#nav-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav-right h4{
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}
#nav h3{
    
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

#nav-right i{
    background-color: #fff;
    color: #000;
    font-size: 30px;
    font-weight: 200;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
#center{
    
    width: 100%;
    padding: 40px 80px;
    /* background-color: red; */
}
#center h1{
    font-size: 80px;
    font-weight: 300;
}
#center-in{
    
    width: 100%;
    margin-top: 40px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    
}
#center-in p{
    font-size: 22px;
    font-weight: 500;
    
    line-height: 30px;
}
#right{
    width: 20%;
}
.elem{
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
      
}
.elem:hover i{
    opacity: 1;
    color: #fff;
}
.elem:hover{
    background-color: black;
    border-radius: 0px 20px 0px 20px;
    
}
.elem:hover a{
    color: #fff;
    margin-left: 10px;

}
 
#bottom{
    width: 100%;
    height: 50%;
    background-color: #000;
    background-image: url(https://images.unsplash.com/photo-1677574904747-b60a28a98072?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 10%;

}